{% extends "base.html.twig" %}

{% block title %}
	Contactos
{% endblock %}
{% block body %}
	<h1>Contacto</h1>
	{% if contacto %}
		<div class="cont-conf">
			{{ include ('partials/datos_contacto.html.twig', {'contacto': contacto}) }}

			<img class="rounded" src="{{ asset('images/' ~ contacto.file) }}" />

			<h3>Acciones</h3>
			<hr>
			<a href="/contacto/editar/{{contacto.id}}">Editar</a>
			<a href="/contactos">Volver</a>
			<a href="/contacto/delete/{{contacto.id}}" id="borrar">Borrar</a>
		</div>
	{% else %}
		<p>Contacto no encontrado</p>
	{% endif %}

{% endblock %}
